<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sofa - registreren</title>
    <meta name="author" content="Wendy Ellens">
</head>

<body>
<h1>Registreer je hier als zakelijke klant</h1>
<p>Stap 2/4</p>
<p>Vul hieronder de bedrijfsgegevens in</p>

<form action="register_zakelijk" method="post" th:object="${klant}" onsubmit="return validateBedrijf()">
    <table>
        <tr>
            <td><label for="name_field"> Bedrijfsnaam</label></td>
            <td><input type="text" id="name_field" th:field="*{bedrijfsnaam}" required/></td>
        </tr>
        <tr>
            <td><label for="sector_field"> Sector</label></td>
            <td><select id="sector_field" name="sector">
                <option th:each="sectorOpt : ${T(sofa.internetbankieren.model.Sector).values()}"
                        th:value="${sectorOpt}" th:text="${sectorOpt.naam}"></option>
            </select></td>
        </tr>
        <tr>
            <td><label for="kvk_field"> KVK nummer</label></td>
            <td><input type="text" id="kvk_field" th:field="*{KVKNummer}" required/></td>
        </tr>
        <tr>
            <td><label for="btw_field"> BTW nummer</label></td>
            <td><input type="text" id="btw_field" th:field="*{BTWNummer}" required/></td>
        </tr>
        <tr>
            <td><label for="pc_field"> Postcode</label></td>
            <td><input type="text" id="pc_field" th:field="*{postcode}" required/></td>
        </tr>
        <tr>
            <td><label for="nr_field">Huisnummer</label></td>
            <td><input type="text" id="nr_field" th:field="*{huisnummer}" required/></td>
        </tr>
        <tr>
            <td><label for="street_field">Straat</label></td>
            <td><input type="text" id="street_field" th:field="*{straat}" required/></td>
        </tr>
        <tr>
            <td><label for="city_field">Woonplaats</label></td>
            <td><input type="text" id="city_field" th:field="*{woonplaats}" required/></td>
        </tr>
        <tr>
        <td></td>
        <td><input type="submit" value="OK"><input type="reset" value="Reset"></td>
        </tr>
    </table>
</form>
<p>Terug naar de <a href="/home">homepage</a></p>

<script>
    // toegevoegd door Wichert
    // voegt automatisch straat + woonplaats in bij het invullen van Postcode en huisnummer
    document.getElementById('pc_field').addEventListener('focusout', checkForAddressPart)
    document.getElementById('nr_field').addEventListener('focusout', checkForAddressPart)

    function checkForAddressPart() {
        let regex = new RegExp(/^[1-9][0-9]{3}[\s]?[A-Za-z]{2}$/i);

        let pc = document.getElementById('pc_field').value
        let nr = document.getElementById('nr_field').value

        if (regex.test(pc) && nr) {
            fetch(`https://postcode.tech/api/v1/postcode?postcode=${pc}&number=${nr}`, {
                headers: {
                    'Authorization': 'Bearer b3ba02a8-2796-4225-a4d2-d982ad2d3ec1',
                },
            })
                .then(response => response.json())
                .then(json => processAddress(json))
                .catch((error) => {
                    console.error('foutje', error)
                });
        }
    }

    function processAddress(data){
        console.log(data)
        let addressPart = data
        document.getElementById('street_field').value = addressPart.street
        document.getElementById('city_field').value = addressPart.city
    }

    // Controleert de KvK- en BTW-nummers
    function validateBedrijf() {
        // Het KvK-nummer moet uit 8 cijfers bestaan.
        let kvk = document.getElementById('kvk_field').value;
        let regexKvk = /^\d{8}$/; // /^[0-9]{8}$/
        if ( regexKvk.test(kvk) === false ) {
            alert('Voer een geldig KvK-nummer in')
            return false;
        }

        // Het BTW-nummer moet er zo uitzien: landcode NL, 9 cijfers, letter B, en een controlegetal van 2 cijfers.
        let btw = document.getElementById('btw_field').value;
        let regexBtw = /^NL[0-9]{9}B[0-9]{2}$/;
        if ( regexBtw.test(btw) === false ) {
            alert('Voer een geldig BTW-nummer in')
            return false;
        }
        // Controle of het BTW-nummer in gebruik is m.b.v. de database van de Europese Commissie.
        // Todo later toevoegen, nu niet in gebruik om look-ups te besparen (na 100x betalen)
        // else {
        //     let key = '9e401e60a123e3125372ac83e026fc15';
        //     fetch(`http://apilayer.net/api/validate?access_key=${key}&vat_number=${kvk}`)
        //         .then(response => response.json())
        //         .then (json => processResponse(json))
        // }
    }

    // todo functie verwijderen
    function processResponse(data){
        if (data.valid) {
            alert('Voer een geldig BTW-nummer in')
            return false;
        }
    }
</script>
</body>
</html>