<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SOFA - registreren</title>
    <meta name="author" content="Wichert Tjerkstra">
</head>
<body>
<h1>Registreer je hier als particuliere klant</h1>
<p>Stap 3/4</p>
<p>Controleer hieronder of je gegevens kloppen.</p>

<form action="confirmParticulier" method="post" th:object="${backingBean}">
    <table>
        <tr>
            <td><label for="First_name">Voornaam</label></td>
            <td><input id="First_name" th:field="*{voornaam}" name="First_name" required/></td>
        </tr>
        <tr>
            <td><label for="Prefix">Voorvoegsels</label></td>
            <td><input id="Prefix" th:field="*{tussenvoegsels}"name="Prefix" /></td>
        </tr>
        <tr>
            <td><label for="Last_name">Achternaam</label></td>
            <td><input id="Last_name" th:field="*{achternaam}"name="Last_name" required/></td>
        </tr>
        <tr>
            <td><label for="Birthday">Geboortedatum</label></td>
            <td><input id="Birthday" th:field="*{geboortedatum}" name="Birthday" required></td>
        </tr>
        <tr>
            <td><label for="BSN">Burgerservicenummer</label></td>
            <td><input id="BSN" th:field="*{BSN}"name="BSN" required/></td>
        </tr>
        <tr>
            <td><label for="Postal_code">Postcode</label></td>
            <td><input id="Postal_code" th:field="*{postcode}"name="Postal_code" required/></td>
        </tr>
        <tr>
            <td><label for="House_number">Huisnummer</label></td>
            <td><input id="House_number" th:field="*{huisnummer}" name="Street" required/></td>
        </tr>
        <tr>
            <td><label for="Street">Straat</label></td>
            <td><input id="Street" th:field="*{straat}"name="Street" readonly/></td>
        </tr>
        <tr>
            <td><label for="City">Woonplaats</label></td>
            <td><input id="City" th:field="*{woonplaats}"name="City" readonly/></td>
        </tr>
        <td></td>
        <td><input type="submit" name="OK" value="Bevestigen"></td>

        </tr>
    </table>
</form>
<p>Terug naar de <a href="/home">homepage</a></p>

<script>
    // toegevoegd door Wichert
    // voegt automatisch straat + woonplaats in bij het invullen van Postcode en huisnummer
    document.getElementById('pc_field').addEventListener('focusout', checkForAddressPart)
    document.getElementById('nr_field').addEventListener('focusout', checkForAddressPart)

    function checkForAddressPart() {
        let regex = new RegExp(/^[1-9][0-9]{3}[\s]?[A-Za-z]{2}$/i);

        let pc = document.getElementById('pc_field').value
        let nr = document.getElementById('nr_field').value

        if (regex.test(pc) && nr) {
            fetch(`https://postcode.tech/api/v1/postcode?postcode=${pc}&number=${nr}`, {
                headers: {
                    'Authorization': 'Bearer b3ba02a8-2796-4225-a4d2-d982ad2d3ec1',
                },
            })
                .then(response => response.json())
                .then(json => processAddress(json))
                .catch((error) => {
                    console.error('foutje', error)
                });
        }
    }

    function processAddress(data){
        console.log(data)
        let addressPart = data
        document.getElementById('street_field').value = addressPart.street
        document.getElementById('city_field').value = addressPart.city
    }

</script>
</body>
</html>