<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SOFA - registreren</title>
    <meta name="author" content="Wichert Tjerkstra">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="fragments/navBar :: navBar"></div>

<div class="container justify-content-center" style="padding-top: 100px;">

<h1>Registreer je hier als particuliere klant</h1>
<p>Stap 2/3</p>
<p>Controleer hieronder of je gegevens kloppen.</p>

<form class="row" form action="confirm" method="post" th:object="${klant}">

    <div class="form-group col-md-3">
            <label for="First_name">Voornaam</label>
            <input id="First_name" class="form-control" th:field="*{voornaam}" name="First_name" required/>
    </div>

    <div class="form-group col-md-2">
            <label for="Prefix">Voorvoegsels</label>
            <input id="Prefix" class="form-control" th:field="*{tussenvoegsels}"name="Prefix" />
            </div>

    <div class="form-group col-md-4">
            <label for="Last_name">Achternaam</label>
            <input id="Last_name" class="form-control" th:field="*{achternaam}"name="Last_name" required/>
    </div>

    <div class="form-group col md-3">
    <label for="Birthday">Geboortedatum</label>
            <input id="Birthday" class="form-control" th:field="*{geboortedatum}" name="Birthday" required>
    </div>

            <div class="form-group col-md-6">
            <label for="BSN">Burgerservicenummer</label>
            <input id="BSN" class="form-control" th:field="*{BSN}"name="BSN" required/>
            <field th:if="${fieldExists}" style='color:darkred'>Er is al een geregistreerde klant met dit BSN</field>
            </div>

        <div class="form-group col-md-4">
            <label for="Postal_code">Postcode</label>
            <input id="Postal_code" class="form-control" th:field="*{postcode}"name="Postal_code" required/>
        </div>

        <div class="form-group col-md-2">
            <label for="House_number">Huisnummer</label>
            <input id="House_number" th:field="*{huisnummer}" name="Street" required/>
        </div>

        <div class="form-group col-md-6">
            <label for="Street">Straat</label>
            <input id="Street" class="form-control" th:field="*{straat}"name="Street" readonly/>
        </div>

        <div class="form-group col-md-6">
        <label for="City">Woonplaats</label>
            <input id="City" class="form-control" th:field="*{woonplaats}"name="City" readonly/>
        </div>

    <div class="form-group col-md-12">
        <button type="submit" name="OK" class="btn btn-primary btn-md">Bevestigen</button>
    </div>

        <div class="form-group col-md-12">
            <p>Terug naar de <a href="/home">homepage</a></p>
        </div>

</form>
</div>
<div th:insert="fragments/footer :: footer"></div>

<script>
    // toegevoegd door Wichert
    // voegt automatisch straat + woonplaats in bij het invullen van Postcode en huisnummer
    document.getElementById('pc_field').addEventListener('focusout', checkForAddressPart)
    document.getElementById('nr_field').addEventListener('focusout', checkForAddressPart)

    function checkForAddressPart() {
        let regex = new RegExp(/^[1-9][0-9]{3}[\s]?[A-Za-z]{2}$/i);

        let pc = document.getElementById('pc_field').value
        let nr = document.getElementById('nr_field').value

        if (regex.test(pc) && nr) {
            fetch(`https://postcode.tech/api/v1/postcode?postcode=${pc}&number=${nr}`, {
                headers: {
                    'Authorization': 'Bearer b3ba02a8-2796-4225-a4d2-d982ad2d3ec1',
                },
            })
                .then(response => response.json())
                .then(json => processAddress(json))
                .catch((error) => {
                    console.error('foutje', error)
                });
        }
    }

    function processAddress(data){
        console.log(data)
        let addressPart = data
        document.getElementById('street_field').value = addressPart.street
        document.getElementById('city_field').value = addressPart.city
    }

</script>
</body>
</html>