<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sofa - registreren</title>
    <meta name="author" content="Wichert Tjerkstra, Hemza Lasri">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div th:insert="fragments/navBar :: navBar"></div>

<div class="container justify-content-center" style="padding-top: 100px;">

    <h3>Registreer je hier als particuliere klant</h3>
    <p>Stap 2/4</p>
    <p><em>Vul hieronder je persoonlijke gegevens in</em></p>


    <form class="row" form name="particulierForm" action="register" method="post"
          th:object="${klant}"
          onsubmit="return validateForm()">

        <div class="form-group col-md-3">
            <label for="First_name">Voornaam</label>
            <input type="text" class="form-control" th:field="*{voornaam}" required/>
        </div>

        <div class="form-group col-md-2">
            <label for="Prefix">Tussenvoegsels</label>
            <input type="text" class="form-control" name="Prefix" th:field="*{tussenvoegsels}"/>
        </div>

        <div class="form-group col-md-4">
            <label for="Last_name">Achternaam</label>
            <input type="text" class="form-control" name="Last_name" th:field="*{achternaam}" required/>
        </div>

        <div class="form-group col md-3">
             <label for="Birthday">Geboortedatum</label>
            <input type="date" class="form-control" th:field="*{geboortedatum}" name="Birthday" required/>
        </div>


        <div class="form-group col-md-6">
            <label for="BSN">Burgerservicenummer</label>
            <input type="text" class="form-control" th:field="*{BSN}" idname="BSN" required/>
            <tr th:if="${fieldExists}">
                <field style='color:darkred'>Er is al een geregistreerde klant met dit BSN</field>
        </div>

        <div class="form-group col-md-4">
            <label for="Postal_code">Postcode</label>
            <input type="text" class="form-control" id="pc_field" th:field="*{postcode}" name="Postal_code"
                       required/>
        </div>

        <div class="form-group col-md-2">

            <label for="House_number">Huisnummer</label>
            <input type="text" class="form-control" id="nr_field" th:field="*{huisnummer}" name="House_number"
                       required/>

        </div>

        <div class="form-group col-md-6">

            <label for="Street">Straat</label>
            <input type="text" class="form-control" id="street_field" th:field="*{straat}" name="Street"
                       readonly/>
        </div>

        <div class="form-group col-md-6">

            <label for="City">Woonplaats</label>
            <input type="text" class="form-control" id="city_field" th:field="*{woonplaats}" name="City"
                       readonly/>
        </div>

        <div class="form-group col-md-12">
            <button type="submit" name="OK" class="btn btn-primary btn-md">OK</button>
            <button type="reset" name="reset" class="btn btn-primary btn-md">Reset</button>
        </div>


        <div class="form-group col-md-12">
            <p>Terug naar de <a href="/home">homepage</a></p> </p>
        </div>

    </form>
</div>
<div th:insert="fragments/footer :: footer"></div>

<script>
    // toegevoegd door Wichert
    // voegt automatisch straat + woonplaats in bij het invullen van Postcode en huisnummer
    document.getElementById('pc_field').addEventListener('focusout', checkForAddressPart)
    document.getElementById('nr_field').addEventListener('focusout', checkForAddressPart)

    function checkForAddressPart() {
        let regex = new RegExp(/^[1-9][0-9]{3}[\s]?[A-Za-z]{2}$/i);

        let pc = document.getElementById('pc_field').value
        let nr = document.getElementById('nr_field').value

        if (regex.test(pc) && nr) {
            fetch(`https://postcode.tech/api/v1/postcode?postcode=${pc}&number=${nr}`, {
                headers: {
                    'Authorization': 'Bearer b3ba02a8-2796-4225-a4d2-d982ad2d3ec1',
                },
            })
                .then(response => response.json())
                .then(json => processAddress(json))
                .catch((error) => {
                    console.error('foutje', error)
                });
        }
    }

    function processAddress(data) {
        console.log(data)
        let addressPart = data
        document.getElementById('street_field').value = addressPart.street
        document.getElementById('city_field').value = addressPart.city
    }

    // controleert of een BSN uit 9 getallen bestaat
    function validateForm() {
        let bsn = document.forms['particulierForm']['BSN'].value;
        let regex = /^\d{9}$/;
        if (regex.test(bsn) == false) {
            alert('voer een geldig burgerservicenummer in')
            return false;
        }
    }
</script>
</body>
</html>