<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.com" >
<head>
    <meta charset="UTF-8">
    <title>Sofa - registreren</title>
    <meta name="author" content="Wichert Tjerkstra, Hemza Lasri">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!--
<div th:insert="fragments/navBar :: navBar"></div>
-->
<!--<div class="container" style="padding-top: 100px;" >-->
<h1>Registreer je hier als particuliere klant</h1>
<p>Stap 2/4</p>
<p>Vul hieronder je persoonlijke gegevens in</p>

<form name="particulierForm" action="register_particulier" method="post" th:object="${backingBean}" onsubmit="return validateForm()">
    <table>
        <tr>
            <td><label for="First_name">Voornaam</label></td>
            <td><input type="text" th:field="*{voornaam}" required/></td>
        </tr>
        <tr>
            <td><label for="Prefix">Tussenvoegsels</label></td>
            <td><input type="text" name="Prefix" th:field="*{tussenvoegsels}" /></td>
        </tr>
        <tr>
            <td><label for="Last_name">Achternaam</label></td>
            <td><input type="text" name="Last_name" th:field="*{achternaam}" required/></td>
        </tr>
        <tr>
            <td><label for="Birthday">Geboortedatum</label></td>
            <td><input type="date" th:field="*{geboortedatum}"name="Birthday" required/></td>
        </tr>
        <tr>
            <td><label for="BSN">Burgerservicenummer</label></td>
            <td><input type="text" th:field="*{BSN}" idname="BSN" required/></td>
        </tr>
        <tr>
            <td><label for="Postal_code">Postcode</label></td>
            <td><input type="text" id="pc_field" th:field="*{postcode}" name="Postal_code" required/></td>
        </tr>
        <tr>
            <td><label for="House_number">Huisnummer</label></td>
            <td><input type="text" id="nr_field" th:field="*{huisnummer}" name="House_number" required/></td>
        </tr>
        <tr>
            <td><label for="Street">Straat</label></td>
            <td><input type="text" id="street_field" th:field="*{straat}" name="Street" readonly/></td>
        </tr>
        <tr>
            <td><label for="City">Woonplaats</label></td>
            <td><input type="text" id="city_field" th:field="*{woonplaats}" name="City" readonly/></td>
        </tr>
        <td></td>
        <td><input type="submit" name="OK" value="OK"><input type="reset" name="reset" value="Reset"></td>

        </tr>
    </table>
</form>
<p>Terug naar de <a href="/home">homepage</a></p> </p>
<!--</div>
<div th:insert="fragments/footer :: footer"></div>-->
<script>
    // toegevoegd door Wichert
    // voegt automatisch straat + woonplaats in bij het invullen van Postcode en huisnummer
    document.getElementById('pc_field').addEventListener('focusout', checkForAddressPart)
    document.getElementById('nr_field').addEventListener('focusout', checkForAddressPart)


    function checkForAddressPart() {
        let regex = new RegExp(/^[1-9][0-9]{3}[\s]?[A-Za-z]{2}$/i);

        let pc = document.getElementById('pc_field').value
        let nr = document.getElementById('nr_field').value

        if (regex.test(pc) && nr) {
            fetch(`https://postcode.tech/api/v1/postcode?postcode=${pc}&number=${nr}`, {
                headers: {
                    'Authorization': 'Bearer b3ba02a8-2796-4225-a4d2-d982ad2d3ec1',
                },
            })
                .then(response => response.json())
                .then(json => processAddress(json))
                .catch((error) => {
                    console.error('foutje', error)
                });
        }
    }

    function processAddress(data){
        console.log(data)
        let addressPart = data
        document.getElementById('street_field').value = addressPart.street
        document.getElementById('city_field').value = addressPart.city
    }

    // controleert of een BSN uit 9 getallen bestaat
    function validateForm() {
        let bsn = document.forms['particulierForm']['BSN'].value;
        let regex = /^\d{9}$/;
        if ( regex.test(bsn) == false ) {
            alert('voer een geldige burgerservicenummer in')
            return false;
        }
    }
</script>
</body>
</html>