<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>SOFA - registreren</title>
    <meta name="author" content="Wichert Tjerkstra, Wendy Ellens">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div th:insert="fragments/navBarZonderRegistreerKnop :: navBar"></div>

<div class="container justify-content-center" style="padding-top: 125px;margin-top: 50px;">

    <h3>Nog even en je hebt je account... </h3>
    <p>Stap 3/3</p>
    <p><em>Maak hieronder een gebruikersnaam en wachtwoord aan</em></p>

    <form class="row" form action="storeLogin" id="storeLogin" method="post" th:object="${klant}"
          onsubmit="return validatie()">

            <div class="form-group col-md-4">
            <label for="username_field">Gebruikersnaam</label>
            <input type="text" class="form-control" id="username_field" th:field="*{gebruikersnaam}" required/></td>
            <tr th:if="${fieldExists}">
                <field style='color:red'>Gebruikersnaam bestaat al: kies een andere gebruikersnaam</field>
        </div>

        <div class="form-group col-md-4">
            <label for="password_field">Wachtwoord</label>
            <input type="password" class="form-control" id="password_field" th:field="*{wachtwoord}" required/></td>
            <field id="passwordFalse"></field>
        </div>

            <div class="form-group col-md-4">
            <label for="password_check">Herhaal wachtwoord</label>
            <input type="password" class="form-control" id="password_check" required/></td>
            <field id="passwordCheck"></field>
        </div>

        <div class="form-group col-md-12">
            <button type="submit" name="OK" class="btn btn-primary btn-md">OK</button>
            <button type="reset" name="reset" class="btn btn-primary btn-md">Reset</button>
        </div>


        <div class="form-group col-md-12">
            <p>Terug naar de <a href="/home">homepage</a></p> </p>
        </div>

    </form>
</div>
<div th:insert="fragments/footer :: footer"></div>

<script>
    // Toegevoegd door Hemza
    document.getElementById("password_field").addEventListener("focusout", validatie);
    document.getElementById("password_check").addEventListener("focusout", passwordCheck);

    function validatie() {
        let wachtwoord = document.forms['storeLogin']['password_field'].value;
        var regex = new RegExp("^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{6,})");
        if (regex.test(wachtwoord) === false) {
            document.getElementById("passwordFalse").innerHTML = '<span style=\'color:#ff0000\'>Je wachtwoord moet minstens 6 karakters hebben, een cijfer, een speciaal teken en een hoofdletter bevatten!<br> <br>Toegestane tekens: ! @ # $ % ^ & * </span>';
            return false;
        } else {
            document.getElementById("passwordFalse").innerHTML = ''
        }
    }

    function passwordCheck() {
        let password1 = document.forms['storeLogin']['password_field'].value;
        let password2 = document.forms['storeLogin']['password_check'].value;

        if (password1 !== password2) {
            document.getElementById("passwordCheck").innerHTML = '' +
                '<span style=\'color:#ff0000\'>Wachtwoord komt niet overeen</span>';
            return false;
        } else {
            document.getElementById("passwordCheck").innerHTML = '';
        }
    }

</script>
</body>
</html>