<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Sofa - registreren</title>
    <meta name="author" content="Wichert Tjerkstra, Wendy Ellens">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div th:insert="fragments/navBar :: navBar"></div>

<div class="container justify-content-center" style="padding-top: 100px;">

    <h1>Nog even en je hebt je account... </h1>
    <p>Stap 4/4</p>
    <p>Maak hieronder je gebruikersnaam en wachtwoord aan</p>

    <form class="row" form action="storeLogin" id="storeLogin" method="post" th:object="${klant}"
          onsubmit="return validatie()">

        <div class="form-group col-3"></div>
        <div class="form-group col-3">

            <label for="username_field">Gebruikersnaam</label>
            <input type="text" class="form-control" id="username_field" th:field="*{gebruikersnaam}" required/></td>
            <field th:if="${fieldExists}">
                <td style='color:darkred'>Gebruikersnaam bestaat al: kies een andere gebruikersnaam</field>
        </div>

        <div class="form-group col-3">
            <label for="password_field">Password</label>
            <input type="password" class="form-control" id="password_field" th:field="*{wachtwoord}" required/></td>
            <field id="passwordFalse"></field>
        </div>

        <div class="form-group col-3"></div>

        <div class="form-group col-md-12">
            <button type="submit" name="OK" class="btn btn-primary btn-md">OK</button>
            <button type="reset" name="reset" class="btn btn-primary btn-md">Reset</button>
        </div>

        <div class="form-group col-md-12">
            <p>Terug naar de <a href="/home">homepage</a></p> </p>
        </div>

    </form>
</div>
<div th:insert="fragments/footer :: footer"></div>

<script>
    // Toegevoegd door Hemza
    document.getElementById("password_field").addEventListener("focusout", validatie);

    function validatie() {
        let wachtwoord = document.forms['storeLogin']['password_field'].value;
        var regex = new RegExp("^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{6,})");
        if (regex.test(wachtwoord) === false) {
            document.getElementById("passwordFalse").innerHTML = '<span style=\'color:#ff0000\'>Uw wachtwoord moet minstens 6 karakters hebben, een cijfer, een speciaal teken* en een hoofdletter bevatten!<br> <br>Toegestane tekens: ! @ # $ % ^ & * </span>';
            return false;
        } else {
            document.getElementById("passwordFalse").innerHTML = '';
        }
    }
</script>
</body>
</html>