<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekeningpagina</title>
    <meta name="author" content="Wendy Ellens">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body th:object="${rekening}">
<div th:insert="fragments/navBar :: navBar"></div>

<div class="container pb-5" style="padding-top: 125px;">
    <div class="row">

        <div class="col-md"></div>

        <div class="col-md-10">

            <h3 class="pb-4"><span th:text="*{tenaamstelling}"></span> - <span th:text="*{IBAN}"></span></h3>

            <h4> Transactieoverzicht</h4>

            <p th:text="${#temporals.format(nu, 'dd-MM-yyyy, HH:mm')}"></p>

            <h5>Saldo: <span th:text="*{#numbers.formatDecimal(saldo, 1, 2, 'COMMA')}"></span> euro</h5>

            <div class="py-4">
                <p th:if="*{getTransacties().isEmpty()}">Er zijn geen transacties om weer te geven</p>
                <p th:unless="*{getTransacties().isEmpty()}">Je laatste bij- en afschrijvingen</p>
            </div>

            <table class="table" th:unless="*{getTransacties().isEmpty()}">
                <tr>
                    <th style='color:#f4623a'>Datum</th>
                    <th style='color:#f4623a' class="text-center">+/-</th>
                    <th style='color:#f4623a' class="text-right">Bedrag</th>
                    <th style='color:#f4623a'>Omschrijving</th>
                    <th style='color:#f4623a'>Tegenrekening</th>
                    <th style='color:#f4623a'>Ten name van</th>
                </tr>
                <tr th:each="transactie : ${transacties}">
                    <td th:text="${#temporals.format(transactie.datum, 'dd-MM-yyyy')}"></td>
                    <td class="text-center" th:text="${transactie.bijschrijving} ? '+' : '-'"></td>
                    <td class="text-right pr-4" th:text="${#numbers.formatDecimal(transactie.bedrag, 1, 2, 'COMMA')}"></td>
                    <td th:text="${transactie.omschrijving}"></td>
                    <td th:text="${transactie.tegenRekening.IBAN}"></td>
                    <td th:text="${transactie.tegenRekening.tenaamstelling}"></td>
                </tr>
            </table>

            <p>
                <a class="btn btn-primary" href="/moneyTransfer" role="button">Geld overmaken</a>
                <a class="btn btn-primary" href="/overzicht" role="button">Terug naar rekeningen</a>
            </p>
        </div>

        <div class="col-md"></div>
    </div>

    <p class="py-4">Terug naar de <a href="/home">homepage</a></p>

</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
