<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Wichert Tjerkstra">
    <title>Nieuw rekeningnummer openen</title>
</head>
<body>

<h1>Open hier een nieuw rekeningnummer</h1>
<p>Controleer de gegevens en bevestig onderaan de pagina voor het openen van een nieuwe rekening.</p>
<p th:if="${isBedrijf}">Voor het openen van een bedrijfsrekening is de achternaam en bsn van de contactpersoon verplicht.</p>

<form action="formNewAccountNumber" method="post">
<table>
    <tr>
        <td><label for="accountName" >Op naam van</label>
        <td id="accountName" th:text="${klant.getNaam()}"></td>
    </tr>
    <tr>
        <td><label for="newIBAN">Nieuw rekeningnummer</label></td>
        <td th:text="${IBAN}" id="newIBAN" name="newIBAN"></td>
    </tr>
    <tr th:hidden="${!isBedrijf}">
        <td><label for="NaamContactpersoon">Naam contactpersoon</label></td>
        <td><input id="NaamContactpersoon" name="NaamContactpersoon"></td>
    </tr>
    <tr th:hidden="${!isBedrijf}">
        <td><label for="bsnContactpersoon">BSN contactpersoon</label></td>
        <td><input type="text" id="bsnContactpersoon" name="bsnContactpersoon" value=""></td>
    </tr>
    <tr th:if="${!doesExist}">
        <td></td>
        <td><font color="red">BSN komt niet overeen met gegevens. Probeer opnieuw</font></td>
    </tr>
    <tr>
        <td><input id="akkoord" type="checkbox" required><label> ik ga akkoord met de <a href="/voorwaarden">voorwaarden</a> </label></td>
    </tr>
        <td></td>
        <td><input type="submit" name="OK" value="bevestig"></td>
</table>
</form>
<p>Terug naar het <a href="/overzicht">rekeningoverzicht</a></p>
<script>
    function msg() {
        alert('Rekening is toegevoegd');
    }
</script>
</body>
</html>