<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ongeldige inloggegevens</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="fragments/navBar :: navBar"></div>
<h1><p>Ongeldige inloggegevens!</p></h1>
<h2><p>Maak een keuze: </p></h2>
<p>Wil je het opnieuw proberen? <a href="/login">Klik dan hier.</a></p>
<p>Nog geen klant bij Sofa? <a href="/register">Klik hier om je te registreren.</a></p>
<p>Terug naar de <a href="/home">homepage</a></p>
</body>
</html>