<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inloggen</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="fragments/navBarZonderLoginKnop :: navBar"></div>
<div class="jumbotron vertical-center">
<div class="container" style="padding-top: 125px;margin-top: 25px;">
    <h1 class="text-center mb-4">Log in met uw Sofa-account</h1>
    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
            <form action="overzicht" method="post" th:object="${backingBean}">
                <div class="form-outline mb-1">
                    <input type="text" id="Gebruikersnaam" class="form-control" th:field="*{userName}"
                           placeholder="Gebruikersnaam" required/>
                </div>
                <div class="form-outline mb-1">
                    <input type="password" id="Wachtwoord" class="form-control" th:field="*{password}"
                           name="Wachtwoord" placeholder="Wachtwoord" required/>
                </div>
                <div class="col mb-0 ">
                    <div class="col">
                        <p class="text-sm-left">Geen inloggegevens? <a href="/home#registreer">Registreer hier</a></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary js-scroll-trigger btn-block">Log in</button>
            </form>
        </div>
        <div class="col-md">
        </div>
    </div>
    <p class="mt-5 mb-1">Terug naar de <a href="/home">homepage</a></p>
    <p>Als werknemer logt u <a href="/login_medewerker">hier</a> in</p>
</div>
</div>
<div th:insert="fragments/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>