<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" >
<head>
    <meta charset="UTF-8">
    <title>SOFA - Overboeken</title>
</head>
<body>
<h1>Overboeken</h1>
<p> Geef hieronder een geldige IBAN rekening op van de begunstigde
    en het over te boeken bedrag: </p><br>
<!--<form name="overboekForm" action="/moneyTransfer" method="post" th:object="${backingBean}">
    <table>
        <tr>
            <td><label for="Iban">IBAN Nummer</label></td>
            <td><input type="text" name="ibannummer" th:field="*{ibannummer}" placeholder="NL06SOFA0123456789" required/></td>
        </tr>
        <tr>
            <td><label for="Bedrag">Bedrag in Euro</label></td>
            <td><input type="text" name="bedrag" th:field="*{bedrag}" placeholder="0,00" required/></td>
        </tr>
    </table>
</form>-->
<p>Terug naar de <a href="/home">homepage</a></p> </p>

</body>
</html>