<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:if="${overviewList.isEmpty()}">Er is geen overzicht weer te geven</p>
<table th:unless="${overviewList.isEmpty()}">
    <p>Selecteer je rekening voor je laatste transactieoverzicht</p>
    <tr>
        <th>Rekeningnummer</th>
    </tr>
    <tr th:each="p : ${overviewList}">
        <td th:text="${overviewList.}"></td>
    </tr>




</table>
</body>
</html>