<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overzichtspagina</title>
    <meta name="author" content="Wendy Ellens, Wichert Tjerkstra">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body th:object="${klant}">
<div th:insert="fragments/navBar :: navBar"></div>

<div class="container" style="padding-top: 125px;">
    <div class="row">

        <div class="col-md"></div>

        <div class="col-md-6">

            <h3 class="pb-4">Welkom <span th:text="*{naam}"></span></h3>

            <h4> Je SOFA-rekeningen</h4>

            <p th:if="*{rekeningen.isEmpty()}">Er zijn geen rekeningen om weer te geven.</p>
            <p class="py-4" th:unless="*{rekeningen.isEmpty()}">Klik op een rekeningnummer om een bedrag over te boeken of je
                laatste transacties te zien.</p>

            <table class="table" th:unless="*{rekeningen.isEmpty()}">
                <tr>
                    <th>IBAN</th>
                    <th>Ten name van</th>
                    <th class="text-right">Saldo</th>
                </tr>
                <tr th:each="rekening : *{rekeningen}">
                    <td><a th:href="${'/rekening/' + rekening.IBAN}" th:text="${rekening.IBAN}"></a></td>
                    <td th:text="${rekening.tenaamstelling}"></td>
                    <td class="text-right pr-3" th:text="${#numbers.formatDecimal(rekening.saldo, 1, 2, 'COMMA')}"></td>
                </tr>
            </table>

            <a class="btn btn-primary" href="/newAccountNumberPage" role="button">Nieuwe rekening openen</a>
        </div>

        <div class="col-md"></div>

    </div>

    <p class="py-4">Terug naar de <a href="/home">homepage</a></p>

</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>