<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Overzichtspagina</title>
</head>
<body>
<h1 th:text="${welcomeName}"> Welkom < naam gebruiker > </h1>
<h2>Dit is het overzichtspaginga</h2>
<!--

<p th:if="${accountList.isEmpty()}">Er is geen overzicht weer te geven</p>
-->

<ul>
    <th:block th:each="name : ${name}">
        <li th:text="${name}"></li>


    </th:block>
</ul>



<!--
<table th:unless="${accountList.isEmpty()}">
    <p>Selecteer je rekening voor je laatste transactieoverzicht</p>
    <tr>
        <th>Rekeningnummer</th>
        <th>tenaamstelling</th>
        <th>saldo</th>
    </tr>
    <tr th:each="p : ${accountList}">
        <td th:text="${accountList.IBAN}"></td>
        <td th:text="${accountList.}"></td>
        <td th:text=${accountList.saldo}"></td>
    </tr>
</table>
-->

<p>Terug naar de <a href="/home">homepage</a></p> </p>

</body>
</html>