<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        {
            box-sizing: border-box
        ;
        }

        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
    <title>SOFA Bank</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="jumbotron vertical-center">
    <div class="container" style="padding-top: 10px;">
        <h1>Lees hier onze voorwaarden</h1>

        <div class="row">
            <div class="column">
                <p>In deze brochure staan de Algemene Bankvoorwaarden
                    en de Voorwaarden die gelden voor
                    uw rekening, voor uw pakket en voor producten
                    waarvan u gebruik kunt maken. Ook bevat de brochure
                    een aantal regelingen die voor u gelden. Hieronder
                    leest u meer over hoe deze Voorwaarden met elkaar
                    samenhangen. De uitleg van de definities die in deze
                    brochure voorkomen, vindt u achterin.
                    Algemeen
                    Algemene Bankvoorwaarden
                    In de Algemene Bankvoorwaarden staan de algemene
                    omgangsregels die gelden tussen u en SOFA. Bijvoorbeeld over
                    het doorgeven van gegevens of het inschakelen van derden. De
                    Algemene Bankvoorwaarden gelden zolang u klant bent van
                    SOFA. Deze voorwaarden zijn opgesteld door de Nederlandse
                    Vereniging van Banken (NVB) en worden gehanteerd door alle
                    Nederlandse banken.
                    De Algemene Bankvoorwaarden zijn altijd van toepassing.
                    Maar wij mogen er in andere Voorwaarden wel van afwijken.
                    In dat geval gelden de andere Voorwaarden.
                    Rekening
                    Voorwaarden Betaalrekening
                    Als klant van SOFA heeft u een Betaalrekening. Deze heeft
                    u nodig bij het gebruik van andere producten van SOFA. Veel
                    belangrijke zaken zijn daarom vastgelegd in de Voorwaarden
                    Betaalrekening. De Voorwaarden Betaalrekening gelden voor
                    uw rekening en uw pakket. Maar zij kunnen ook van toepassing
                    zijn op andere producten van SOFA waarvoor u een
                    Betaalrekening moet hebben.
                    Belangrijk om te weten: wat in de Voorwaarden Betaalrekening
                    al is geregeld, staat niet meer in de pakketvoorwaarden
                    en de verschillende productvoorwaarden.
                    Voorwaarden voor andere rekeningen
                    In een aantal gevallen zijn op uw rekening, naast de
                    Voorwaarden Betaalrekening, nog andere Voorwaarden van
                    toepassing:
                    • Heeft u een En/of Betaalrekening? Dan gelden daarvoor ook
                    de Voorwaarden En/of Betaalrekening.
                    • Heb je een Kinderrekening of Jongerenrekening? Dan zijn
                    ook de Voorwaarden Kinderrekening en Jongerenrekening
                    van toepassing.
                    • Heb je een Studentenrekening? Dan gelden daarvoor ook de
                    Voorwaarden Studentenrekening.</p>
            </div>
            <div class="column">
                <p>Pakket
                    Voorwaarden SOFAPakket en Voorwaarden
                    BasisPakket, BetaalPakket en RoyaalPakket
                    (pakketvoorwaarden)
                    Uw Betaalrekening bij SOFA is onderdeel van een betaalpakket.
                    In de pakketvoorwaarden staan de voorwaarden die daarbij
                    horen, voor zover nog niet geregeld in de Voorwaarden
                    Betaalrekening.
                    Producten
                    Productvoorwaarden
                    Uw betaalpakket bestaat uit een combinatie van producten.
                    Daarvoor gelden productvoorwaarden. In die productvoorwaarden
                    staat alles wat nog niet is geregeld in de
                    Voorwaarden Betaalrekening.
                    In deze brochure vindt u de volgende productvoorwaarden:
                    • Voorwaarden gebruik betaalpassen en creditcards;
                    • Voorwaarden Mijn SOFA;
                    • Voorwaarden Saldolijn;
                    • Voorwaarden Emergency Cash.
                    Sommige productvoorwaarden hangen met elkaar samen.
                    Voor uw creditcard gelden bijvoorbeeld de Voorwaarden
                    gebruik betaalpassen en creditcards én de Voorwaarden
                    Creditcard en Platinumcard.
                    Rangorde
                    Bij tegenstrijdigheid tussen de verschillende voorwaarden, dan
                    geldt de volgende rangorde: de voorwaarden van de diverse
                    andere betaaldiensten en pakketten gaan voor op de
                    Voorwaarden Betaalrekening, die op haar beurt weer voorgaan
                    op de Algemene Bankvoorwaarden.
                    Regelingen
                    Er gelden ook verschillende regelingen voor u. Zo staat in het
                    Privacy Statement hoe we omgaan met uw persoonsgegevens.
                    Dit Privacy Statement vindt u op SOFA.nl/privacy. Achterin deze
                    brochure vindt u andere regelingen die voor u gelden. Het
                    gaat om:
                    • Garantieregeling;
                    • Klachtenprocedure.</p>
            </div>
            <button class="btn btn-primary js-scroll-trigger justify-content-center" onclick="goBack()">Ga terug</button>
        </div>
    </div>
</div>



<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>